<html>
<head>
  <meta charset="utf-8">
  <title>Join | ImageApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, image-scalable=no"> 
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <% for(var i=0; i < image.length; i++)  { %>
      <ul>
        <li>
        <div class="title">
       <h4>
               <%= image[i].from %>
       </h4>
             <span>
                <%= image[i].createdAt %>
             </span>
            </div>
            <div class="body">
           <p>
                   <%= image[i].text %>
           </p>
      
                </div>
              </li>
           </ul>
   <% } %>

    <div >
            <form id="message-form" action="/images" method="post">
            <input name="from" type="text" placeholder="Your name" autofocus autocomplete="off"/>
                <input name="text"  type="text" placeholder="Message" autofocus autocomplete="off"/>
                <input name="createdAt" type="date" placeholder="Time">
           
             <input type="file" name="image"  placeholder="Image"/>
             </form>
             <button form="message-form">Send</button>
                 <button  form="message-form" id="send-image">Send image</button>
              <button  form="message-form" id="send-location">Send location</button> 
        </div>
  

 
</body>
</html>
