h1{
    font-family: system-ui;
    color: #f55336;
    align-content: center
}
h3{
    font-family: system-ui;
    color: #f55336;
    align-content: center
}

input[type=text], input[type=email], input[type=date], input[type=password],input[type=file],input[type=submit], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1px;
}
.title, .body{
    border-radius: 5px;
    background-color: #da6551;
    opacity: 0.5;
    filter: alpha(opacity=50);
    padding: 1px;
 
}
.title h4{
   
        font-weight:600;
        margin-right:10px
        
}
button{
    background: #f55336;
    color: white;
    cursor:pointer;
    transition:background .3s ease;
    padding:10px;
    font-family: system-ui;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background: #da6551;
    padding:10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: system-ui
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding:6px
}
h3 a {
    color: #f55336; 
    text-align: right;
} 
